<form
    #addEmployeeForm="ngForm"
    [formGroup]="form"
    (ngSubmit)="onAdd()"
    >
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="employeeName">Employee Name: </label>
            <input
                type="text"
                class="form-control"
                id="employeeName"
                placeholder="John Smith"
                formControlName="employeeName"
                required
                >
            <div *ngIf="employeeName.invalid && (employeeName.dirty || employeeName.touched)"
                class="alert alert-danger alert-dismissible fade show"
                role="alert">
                <div *ngIf="employeeName.errors.required">
                    Employee Name is required.
                    <button type="button" class="close" (click)="dismissAlert(employeeName)">
                        <span>&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="numDependents">Number of Dependents: </label>
            <input
                type="text"
                class="form-control"
                id="numDependents"
                placeholder="0"
                formControlName="numDependents"
                >
            <div *ngIf="numDependents.invalid && (numDependents.dirty || numDependents.touched)"
                class="alert alert-danger alert-dismissible fade show"
                role="alert">
                <div *ngIf="numDependents.errors.notNullZeroOrPositive">
                    Please enter a valid number.
                    <button type="button" class="close" (click)="dismissAlert(numDependents)">
                        <span>&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group col-md-2">
            <button
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="!addEmployeeForm.form.valid"
                >Add</button>
        </div>
    </div>
</form>