form {
    margin-bottom: 2rem;
}

button.btn.btn-primary.btn-block {
    margin-top: 32px;
};

.alert.alert-danger {
    margin-top: 10px;
    line-height: 24px;
    padding: .375rem .75rem;

    button.close {
        line-height: 22px;
        padding: .375rem .75rem;
    }
}