<table class="table" *ngIf="employees.length > 0">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Dependants</th>
            <th scope="col">Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees; index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{employee.name}}</td>
            <td>{{employee.numDependents}}</td>
            <td>{{employee.cost}}</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th scope="row">Total</th>
            <td></td>
            <td></td>
            <td>{{totalCost}}</td>
        </tr>
    </tbody>
</table>