<div [@showHide]="employees.length > 0 ? 'show' : 'hide'" class="table-responsive">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col" class="number">Dependants</th>
                <th scope="col" class="number">Salary</th>
                <th scope="col" class="number">Benefits Cost</th>
                <th scope="col" class="number">Total Cost</th>
                <th scope="col" class="delete-all" (click)="handleRemoveAll()"></th>
            </tr>
        </thead>
        <tbody>
            <tr [@employeesTrigger] *ngFor="let employee of employees; index as i">
                <th scope="row">{{i + 1}}</th>
                <td>{{employee.name}}</td>
                <td class="number">{{employee.numDependents}}</td>
                <td class="number">{{2000 | currency}}</td>
                <td class="number">{{employee.cost | currency}}</td>
                <td class="number">{{2000 + employee.cost | currency}}</td>
                <td class="delete" (click)="handleRemoveEmployee(i)"></td>
            </tr>
        </tbody>
        <tbody class="thead-light">
            <tr>
                <th>Total:</th>
                <th></th>
                <th></th>
                <th class="number">{{salaryCost | currency}}</th>
                <th class="number">{{benefitsCost | currency}}</th>
                <th class="number">{{benefitsCost + salaryCost | currency}}</th>
                <th></th>
            </tr>
        </tbody>
    </table>
</div>